bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/SguScheduleAPNs.NotificationServer/Secrets
/SguScheduleAPNs.NotificationServer/Data
.idea/
*.DS_Store
*.env

https/
*.pfx
*.crt
*.key
*.pem
SguScheduleAPNs.sln.DotSettings.user
